<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nicolai Nyströmer</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap_superhero.min.css" rel="stylesheet">

    <!-- Custom Freelancer CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    
    <!-- My custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
    
    <!-- Custom rating CSS -->
    <link href="css/rating.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Nicolai Nyströmer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#profile">Profile</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#education">Education</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#work">Work</a>
                    </li>
                    </li>
                    <li class="page-scroll">
                        <a href="#skills">Skills</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/nico_BW.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">Hi, I'm Nicolai!</span>
                        <hr class="star-light">
                        <span class="skills">I'm a tech-savvy language guy looking for a job within data analysis/language tech. This is my site.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Profile Section -->
    <section class="success" id="profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Profile</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My interests lie in the intersection of language, math and coding. I do NLP - natural language processing and the main part of my academic work has revolved around data driven language analysis - particularly sentiment analysis.</p>
                </div>
                <div class="col-lg-4">
                    <p>I live with my girlfriend and our two kids who are 4 and 6 years old. I've got a thing for Rubik's Cubes and kite flying, and I love to spend time in the kitchen. Cooking, that is.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Education Section -->
    <section class="success" id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Education</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p><span class="expName"><a href="http://studies.ku.dk/masters/it-and-cognition/" target="_blank">It and Cognition</a></span> <br><span class="expTitle">MA (2008-1013)</span></p>
                </div>
                <div class="col-lg-8">
                    <p class="expDescription">A mix of linguistics, CS and cognitive psychology, I dealt with large datasets handling, machine learning and linguistic analysis. <a href="files/Opinionmining_speciale.pdf">Thesis on sentiment analysis</a>.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <p><span class="expName"><a href="http://dansk.ku.dk/" target="_blank">Danish language and litterature</a></span> <br><span class="expTitle">BA (2005-2008)</span></p>
                </div>
                <div class="col-lg-8">
                    <p class="expDescription">Besides studying various aspects of litterature, I spent the main part of my BA on topics within formal linguistics. Thesis on Chomsky's transformational grammar.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <p><span class="expName"><a href="http://www.math.ku.dk/" target="_blank">Mathematics</a></span> <br><span class="expTitle">Minor (2001-2005)</span></p>
                </div>
                <div class="col-lg-8">
                    <p class="expDescription">Linear algebra, calculus, statistics, probability, combinatorics etc. General, solid foundation in math.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Work Section -->
    <section class="success" id="work">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Work</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p><span class="expName"><a href="https://www.regionh.dk/om-region-hovedstaden/denAdministrativeRegion/CIMT/sundhedsteknologi/Sider/sundhedsplatformen.aspx" target="_blank">Sundhedsplatformen</a></span> <br><span class="expTitle">Independent consultant (2014-2015)</span></p>
                </div>
                <div class="col-lg-8">
                    <p class="expDescription">I took part in coordinating the translation of a vast collection of medical terms. Constant flow of meetings and deadlines.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <p><span class="expName"><a href="http://astra.dk/" target="_blank">Danish Science Factory</a></span> <br><span class="expTitle">Project coordinator (2010-2013)</span></p>
                </div>
                <div class="col-lg-8">
                    <p class="expDescription">Coordinated and executed conferences for around 200 people. Communication and booking speakers and workshops.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <p><span class="expName"><a href="http://astra.dk/" target="_blank">Danish Science Factory</a></span> <br><span class="expTitle">Student assistant (2008-2013)</span></p>
                </div>
                <div class="col-lg-8">
                    <p class="expDescription">Lots of different tasks, including copywriting, graphic design, web editing, video and music production.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section class="success" id="skills" ng-app="skillsApp">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills and tools</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" ng-controller="SkillsController">
                <div class="col-lg-4 col-lg-offset-4 skillContainer" ng-repeat="skill in data.Python_skills">
                    <div class="centerDiv">
                        <div class="skill">{{skill.title}}</div>
                        <div skill-rating rating-value="skill.level" class="level"></div>
                    </div>
                </div>
            </div>
            <hr class="skillsHr">
            <div class="row" ng-controller="SkillsController">
                <div class="col-lg-4 col-lg-offset-4 skillContainer" ng-repeat="skill in data.web_skills">
                    <div class="centerDiv">
                        <span class="skill">{{skill.title}}</span>
                        <span skill-rating rating-value="skill.level" class="level"></span>
                    </div>
                </div>
            </div>
            <hr class="skillsHr">
            <div class="row" ng-controller="SkillsController">
                <div class="col-lg-4 col-lg-offset-4 skillContainer" ng-repeat="tool in data.tools">
                    <div class="centerDiv">
                        <span class="skill">{{tool.title}}</span>
                        <span skill-rating rating-value="tool.level" class="level"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center" id="contact">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contact</h2>
                        <hr class="star-light">
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col col-md-4 col-lg-offset-2">
                        <h3>Address</h3>
                        <p>Nattergalevej 57, 1.th.<br>2400 Copenhagen NV</p>
                        +45 28 22 80 22
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>On the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="mailto:nystroemer@yahoo.dk?Subject=Hello%20there" target="_top" target="_blank" class="btn-social btn-outline"><i class="fa fa-at"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/nicolai.nystroemer" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/nicolainystroemer" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="http://nininico.deviantart.com/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-deviantart"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        NicoNico.dk - 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="angular/js/controllers.js"></script>

</body>

</html>
